// UI LOGIN
.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  width: 35%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}


.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);

  mat-card {
    width: 400px;
  }
}

.login {
  height: 100%;

  .background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    // background: url(assets/background.jpg) no-repeat center center fixed;
    // background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

    .card-wrapper {
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  mat-card {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

    mat-card-header {
      margin-bottom: 10px;
    }

    mat-form-field {
      width: 100%;
    }
  }



  .ig-hudson {
    -webkit-filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
    filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
  }

  .hefe {
    -webkit-filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
    filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
  }

  .ig-earlybird {
    -webkit-filter: sepia(0.4) saturate(1.6) contrast(1.1) brightness(0.9) hue-rotate(-10deg);
    filter: sepia(0.4) saturate(1.6) contrast(1.1) brightness(0.9) hue-rotate(-10deg);
  }

  .ig-brannan {
    -webkit-filter: sepia(0.5) contrast(1.4);
    filter: sepia(0.5) contrast(1.4);
  }

  .ig-amaro {
    -webkit-filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
    filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
  }

  .ig-1977 {
    -webkit-filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
    filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
  }
}
