<div class="login-page">
  <mat-card class="mat-elevation-z12">

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [formGroup]="userForm">
        <mat-tab label="Sign Up">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Username"
                  required
                  name="username"
                  ngModel
                  #username="ngModel">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="username.invalid">
                  Username is required
                </mat-error>

              </mat-form-field>
              <!--
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              -->
              <mat-form-field>
                <input
                  matInput
                  placeholder="Fullname"
                  required
                  name="fullname"
                  ngModel
                  #fullname="ngModel">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="fullname.invalid">
                  Fullname is required
                </mat-error>

              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email Adress"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error
                  *ngIf="email.invalid">
                  Email is required
                </mat-error>

              </mat-form-field>


              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Repeat Password" formControlName="repeatPassword" type="password" name="repeatPassword" required>
                <mat-error *ngIf="repeatPassword.invalid && repeatPassword.hasError('passwordMatch')">Password mismatch</mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Team</mat-label>
                <mat-select>
                  <mat-option value="Create New Team" >
                    Create New Team
                  </mat-option>

                  <mat-option value="I already have a team" >
                    I already have a team
                  </mat-option>

                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Team Name"
                  required
                  name="teamname"
                  ngModel
                  #teamname="ngModel">
                <mat-icon matSuffix>supervisor_account</mat-icon>
                <mat-error
                  *ngIf="teamname.invalid">
                  Team Name is required
                </mat-error>
              </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    placeholder="Team Password"
                    type="teampass"
                    required
                    minlength="6"
                    name="teampass"
                    ngModel
                    #teampass="ngModel">
                    <mat-error
                      *ngIf="teampass.errors && teampass.errors.required">
                      Password is required
                    </mat-error>
                    <mat-error
                      *ngIf="teampass.errors && teampass.errors.minlength">
                      Password must be of length 6
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <mat-form-field >
                  <input
                    matInput
                    placeholder="Country"
                    required
                    name="country"
                    ngModel
                    #country="ngModel">
                  <mat-icon matSuffix>flag</mat-icon>
                  <mat-error
                    *ngIf="country.invalid">
                    Team Name is required
                  </mat-error>
                </mat-form-field>


              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign Up
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
