<div class="login-page">
  <mat-card class="mat-elevation-z12">

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Username"
                  required
                  name="username"
                  [(ngModel)]="username">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  [(ngModel)]="password">

                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                (click)="login()"
                >

                Sign In
              </button>
              <span>Don't have an account ? <a [routerLink]="['/auth/register']" >register</a> here</span>
            </form>
          </mat-card-content>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
