
<div class="challenges " >
  <ul class="listCards">

    <a href="/challenges">
      <li class="card card-small">
      <div class="cardTop">
        <img src="../../../assets/img/web.png" alt="IMG">
      </div>
      <div class="cardInfo">

        <div class="cardData">
          <h4>Web</h4>
          <span class="cardComplete">
            0/ 3
          </span>
        </div>
        <div class="categorie-tatus">
          <img src="../../../assets/img/icons/solved.png" width="40" alt="IMG">
        </div>
      </div>
      </li>
    </a>
    <a href="/challenges">
      <li class="card card-small">
      <div class="cardTop">
        <img src="../../../assets/img/crypto.png" alt="IMG">
      </div>
      <div class="cardInfo">

        <div class="cardData">
          <h4>Crypto</h4>
          <span class="cardComplete">
            0/ 3
          </span>
        </div>
        <div class="task-tatus">
          <img src="../../../assets/img/icons/solved.png" width="40" alt="IMG">
        </div>
      </div>
      </li>
    </a>
    <a href="/challenges">
      <li class="card card-small">
      <div class="cardTop">
        <img src="../../../assets/img/pwn.png" alt="IMG">
      </div>
      <div class="cardInfo">

        <div class="cardData">
          <h4>Pwn</h4>
          <span class="cardComplete">
            0/ 3
          </span>
        </div>
        <div class="task-tatus">
          <img src="../../../assets/img/icons/solved.png" width="40" alt="IMG">
        </div>
      </div>
      </li>
    </a>
    <a href="/challenges">
      <li class="card card-small">
      <div class="cardTop">
        <img src="../../../assets/img/foren.png" alt="IMG">
      </div>
      <div class="cardInfo">

        <div class="cardData">
          <h4>Forensics</h4>
          <span class="cardComplete">
            0/ 3
          </span>
        </div>
        <div class="task-tatus">
          <img src="../../../assets/img/icons/solved.png" width="40" alt="IMG">
        </div>
      </div>
      </li>
    </a>
    <a href="/challenges">
      <li class="card card-small">
      <div class="cardTop">
        <img src="../../../assets/img/reverse.png" alt="IMG">
      </div>
      <div class="cardInfo">

        <div class="cardData">
          <h4>Reverse Engineering</h4>
          <span class="cardComplete">
            0/ 3
          </span>
        </div>
        <div class="task-tatus">
          <img src="../../../assets/img/icons/solved.png" width="40" alt="IMG">
        </div>
      </div>
      </li>
    </a>
    <a href="/challenges">
      <li class="card card-small">
      <div class="cardTop">
        <img src="../../../assets/img/stegano.png" alt="IMG">
      </div>
      <div class="cardInfo">

        <div class="cardData">
          <h4>Stegano</h4>
          <span class="cardComplete">
            0/ 3
          </span>
        </div>
        <div class="task-tatus">
          <img src="../../../assets/img/icons/solved.png" width="40" alt="IMG">
        </div>
      </div>
      </li>
    </a>

    </ul>
</div>
