/* You can add global styles to this file, and also import other style files */

.table-dark {
  --bs-table-bg: #31465a54;
  --bs-table-striped-bg: #394f7063;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #2a6594;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #2f40517a;
  --bs-table-hover-color: #fff;
  color: #b7d1f7;
  border-color: #689abf;
}
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #172333;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 80px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.a{
  padding-bottom: 3px;
  margin-right: 30px;
}
main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}



#main {
  padding: 16px;
  margin-left: 80px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color:#182430;

}
.tool-bar{
  background-color: #182430!important;
}
.mat_side_nav{
  background-color: #1d2d40!important;
  opacity: 0.8;
}
.spacer {
  flex: 1 1 auto;
}
.logo {
  margin-left: 60px;

  img {
    vertical-align: middle;
    width: 50px;
    height: auto;
    transform: rotate(10deg);

  }
}
.title {
  color:#81b4ff;
  margin-left:-10px;
  font-size:40px ;
  vertical-align: middle;
}
html {
  height: 100%;
}
.app-sidenav {
  background-color:#182430!important;

}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  display: flex;
}

p {
  margin: 16px;
}

.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: #1d2d40!important;
  margin: 10px;
  flex-wrap: wrap;
}

.container [class*='col'] {
  padding: 10px;
  flex: 1;
}

.mat-card-header-text {
  margin-left: 0;
  border-bottom: 1px solid #ffd740;
}

.header {
  padding-bottom: 10px;
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

mat-sidenav {
  width: 200px;
  padding-top: 10px;
}

mat-card:not(.dashboard-card) {
  margin-bottom: 20px;
}

.mat-sidenav-container {
  background: #f5f5f5;
  flex: 1;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.courses-containers {
  display: flex;
  justify-content: space-around;

  .courses-list {
    width: 49%;
  }

  .course-details {
    width: 49%;
  }
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);

  mat-card {
    width: 400px;
  }
}

.dashboard-card {
  position: absolute !important;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  mat-card-header {
    justify-content: center;
  }
}
.text-prim{
  color:#81b4ff!important;
}
.dashboard-card-content {
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.grid-container {
  margin: 20px;
}

.list-container {
  margin: 20px;

  .full-width-table {
    width: 100%;
  }

  tr {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
  }

  tr:not(.mat-header-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }
}

.details-container {
  mat-form-field {
    width: 100%;
  }

  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

mat-form-field {
  width: 100%;
}

mat-list-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}
#link-sp{
  color: rgb(255, 255, 255);margin-left:30px;
}
.symbol {
  color: #777;
}

mat-card-actions {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

.nav-link {
  height: 50px;
  color: rgb(255, 255, 255);
  display: flex !important;
  align-items: left!important;
  text-align: left;
  font-size: 20px!important;
}

// UI LOGIN
.login {
  height: 100%;

  .background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    // background: url(assets/background.jpg) no-repeat center center fixed;
    // background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

    .card-wrapper {
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  mat-card {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

    mat-card-header {
      margin-bottom: 10px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .ig-xpro2 {
    -webkit-filter: contrast(1.3) brightness(0.8) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
    filter: contrast(1.3) brightness(0.8) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
  }

  .ig-willow {
    -webkit-filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
    filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
  }

  .ig-walden {
    -webkit-filter: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
    filter: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
  }

  .ig-valencia {
    -webkit-filter: sepia(0.15) saturate(1.5) contrast(0.9);
    filter: sepia(0.15) saturate(1.5) contrast(0.9);
  }

  .ig-toaster {
    -webkit-filter: sepia(0.4) saturate(2.5) hue-rotate(-30deg) contrast(0.67);
    -filter: sepia(0.4) saturate(2.5) hue-rotate(-30deg) contrast(0.67);
  }

  .ig-sutro {
    -webkit-filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
    filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
  }

  .ig-sierra {
    -webkit-filter: contrast(0.8) saturate(1.2) sepia(0.15);
    filter: contrast(0.8) saturate(1.2) sepia(0.15);
  }

  .ig-rise {
    -webkit-filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
    filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
  }

  .ig-nashville {
    -webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
    filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
  }

  .ig-mayfair {
    -webkit-filter: saturate(1.4) contrast(1.1);
    filter: saturate(1.4) contrast(1.1);
  }

  .ig-lofi {
    filter: contrast(1.4) brightness(0.9) sepia(0.05);
    -webkit-filter: contrast(1.4) brightness(0.9) sepia(0.05);
  }

  .ig-kelvin {
    filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
    -webkit-filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
  }

  .ig-inkwell {
    -webkit-filter: grayscale(1) brightness(1.2) contrast(1.05);
    filter: grayscale(1) brightness(1.2) contrast(1.05);
  }

  .ig-hudson {
    -webkit-filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
    filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
  }

  .hefe {
    -webkit-filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
    filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
  }

  .ig-earlybird {
    -webkit-filter: sepia(0.4) saturate(1.6) contrast(1.1) brightness(0.9) hue-rotate(-10deg);
    filter: sepia(0.4) saturate(1.6) contrast(1.1) brightness(0.9) hue-rotate(-10deg);
  }

  .ig-brannan {
    -webkit-filter: sepia(0.5) contrast(1.4);
    filter: sepia(0.5) contrast(1.4);
  }

  .ig-amaro {
    -webkit-filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
    filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
  }

  .ig-1977 {
    -webkit-filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
    filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
  }
}

// UI TOOLBAR
mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;

  >.mat-mini-fab {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .title {
    vertical-align: middle;
  }


}







/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #81b4ff;
  --primary-lighter-color: #d9e9ff;
  --primary-darker-color: #649cff;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}

$mat-primary: (
  main: #81b4ff,
  lighter: #d9e9ff,
  darker: #649cff,
  200: #81b4ff, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #81b4ff;
  --accent-lighter-color: #d9e9ff;
  --accent-darker-color: #649cff;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}

$mat-accent: (
  main: #81b4ff,
  lighter: #d9e9ff,
  darker: #649cff,
  200: #81b4ff, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}
