app-challenges{
  height: 100%;
}

.container [class*='col'] {
  padding: 10px;
  flex: 1;
}
.container {
  background-color: #1D2D40!important;
  margin: 10px;
  flex-wrap: wrap;
}
#main {
  margin-top: 100px;
  height: 100%;
  padding: 16px;
  margin-left: 80px;
  transition: margin-left 0.4s;
}
.container [class*='col'] {
  padding: 10px;
  flex: 1;
}
