<mat-toolbar  color="accent" class="tool-bar mat-elevation-z4" >
  <span>
    <button mat-mini-fab onclick="toggleSidebar()">
      <mat-icon  >menu</mat-icon>
    </button>
    <span class="logo">
      <img src="assets/logo.png" alt="Logo">
    </span>
    <span class="title"> CTFd
    </span>
  </span>
  <span class="spacer"></span>
  <button mat-mini-fab >
    <mat-icon >person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="mat_side_nav" >
  <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">

    <nav>
      <a mat-button color="primary" class="nav-link">
        <i class="fas fa-home"></i>
        <span id="link-sp">Home</span>
      </a>
      <a mat-button color="primary" class="nav-link">
        <i class="fas fa-flag ">
      </i>
      <span id="link-sp">Challenges</span>
      </a>
      <a mat-button color="primary" class="nav-link">
      <i class="fas fa-chart-line"></i>
      <span id="link-sp">Scoreboard</span>
      </a>
      <a mat-button color="primary" class="nav-link">
        <i class="fas fa-users "></i>
        <span id="link-sp">Teams</span>
      </a>
      <a mat-button color="primary" class="nav-link">
        <i class="fa fa-sign-in-alt" ></i>
        <span id="link-sp" style="margin-left:32px ;">Login</span>
      </a>
      <a mat-button  color="primary" class="nav-link">
        <i class="fas fa-user-plus  " ></i>
        <span id="link-sp">Register</span>
      </a>
    </nav>

  </div>
  <div id="main" >
    <router-outlet  >
    </router-outlet>
  </div>
</mat-sidenav-container>
